/* Site fonts */

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/ptsans_new.woff2") format("woff2"),
    url("../fonts/ptsans_new.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/ptsansbold_new.woff2") format("woff2"),
    url("../fonts/ptsansbold_new.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* Site colors */

:root {
  --white: #FFFFFF;
  --black: #000000;
  --light-black: #333333;
  --dark-white: #EEEEEE;
  --grey: #CACACA;
  --dark-grey: #A9A9A9;
  --light-beige: #F2F2F2;
  --beige: #EBEBEB;
  --dark-beige: #BDBBBC;
  --grey-beige: #E5E5E5;
  --light-brown: #766357;
  --brown: #604E43;
  --dark-brown: #503E33;
  --light-blue: #81B3D2;
  --blue: #669EC0;
  --dark-blue: #5496BD;
  --light-asphalt: #6A6A6A;
  --asphalt: #666666;
  --dark-asphalt: #231F20;
  --transparent-white: rgba(255, 255, 255, 0.9);
  --super-transparent-white: rgba(255, 255, 255, 0.3);
  --site-transparent-black: rgba(0, 1, 1, 0.2);
  --form-transparent-black: rgba(0, 1, 1, 0.15);
  --sorting-transparent-black: rgba(0, 0, 0, 0.3);
}

/* Global styles */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-black);
  text-transform: uppercase;
  background-color: var(--light-beige);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px var(--site-transparent-black);
}

/* Header */

.header {
  background-color: var(--white);
}

.site-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.site-logo img {
  width: 138px;
  height: 70px;
}

/* Navigation */

.navigation {
  position: relative;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0 72px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-item {
  width: 228px;
  padding: 15px 0;
}

.nav-item-left {
  text-align: left;
}

.nav-item-right {
  text-align: right;
}

.nav-item:nth-of-type(2) {
  margin-right: auto;
}
/* При переполнении ничего не будет под лого */

.nav-item:nth-of-type(3) {
  margin-left: auto;
}
/* При переполнении ничего не будет под лого */

.navigation-list a {
  color: var(--black);
  line-height: 26px;
  font-weight: bold;
}

.navigation-list a:not([href]) {
  cursor: default;
  color: var(--light-brown);
}

.navigation-list a[href]:hover, .navigation-list a[href]:focus {
  color: var(--light-blue);
}

.navigation-list a[href]:active {
  color: var(--black);
  opacity: 0.3;
}

/* Intro to Sedona with background on main*/

.site-intro {
  background-color: var(--dark-blue);
  background-image:
    url("../img/mask.svg"),
    url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
  min-height: 509px;
}

.site-intro img {
  width: 457px;
  height: 351px;
  padding-top: 77px;
}

/* About town section */

.about-town {
  background-color: var(--white);
  text-align: center;
  padding: 42px;
  padding-bottom: 51px;
}

.about-sedona {
  color: var(--black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 45px;
}

.reasons-intro {
  line-height: 26px;
  margin: 0;
}

/* Benefits of Sedona */

.reasons-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reasons-list h3 {
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 21px;
  width: 122px;
}

.reasons-list .second-reason-heading {
  width: 160px;
}

.reasons-list p {
  margin: 0;
}

.reasons-list .reason-number {
  margin-bottom: 25px;
}

.first-reason {
  display: flex;
  flex-wrap: wrap;
}

.top-reason {
  display: flex;
  background-color: var(--light-blue);
}

.top-reason img {
  align-self: center;
  width: 800px;
  height: 256px;
}
/* Чтобы при переполнении контента картинка не растягивалась, и за ней был красивый голубой цвет :) */

.top-reason-description {
  color: var(--white);
  padding: 49px 47px;
  width: 400px;
  box-sizing: border-box;
}
/* Width и box-sizing сделала, чтобы одинаково смотрелось в разных браузерах */

.first-reason-description {
  padding-top: 47px;
}

.second-reason-description {
  order: 1;
  padding-right: 49px;
}

.top-reason-description img {
  width: 800px;
  height: 256px;
}

.other-reason {
  background-color: var(--dark-white);
  padding-right: 71px;
  padding-left: 71px;
  padding-top: 45px;
  padding-bottom: 54px;
  width: 400px;
  box-sizing: border-box;
}

.fourth-reason {
  padding-right: 70px;
  padding-left: 70px;
}

.other-reason h3 {
  color: var(--black);
}

.first-reason-list {
  list-style: none;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.first-reason-list h4 {
  color: var(--black);
  font-size: 21px;
  margin: 0;
  margin-bottom: 25px;
}

.first-reason-item {
  background-repeat: no-repeat;
  background-position: center 60px;
  width: 400px;
  box-sizing: border-box;
  padding: 60px;
  padding-top: 160px;
  padding-bottom: 82px;
}

.reason-house {
  background-image: url("../img/icon-house.svg");
}

.reason-food {
  background-image: url("../img/icon-food.svg");
  padding-right: 50px;
  padding-left: 50px;
}

.reason-souvenirs {
  background-image: url("../img/icon-souvenirs.svg");
  background-position: center 55px;
}

/* Booking section */

.booking {
  text-align: center;
  background-color: var(--white);
  padding-top: 58px;
  position: relative;
}

.booking h2 {
  color: var(--black);
  font-size: 30px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 32px;
}

.booking p {
  line-height: 24px;
  margin: 0;
}

.booking-button {
  text-align: center;
  font: inherit;
  text-transform: uppercase;
  color: var(--white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
  cursor: pointer;
}

.head-booking-button {
  background-color: var(--light-brown);
  margin-top: 44px;
  padding: 30px;
  width: 568px;
  box-sizing: border-box;
}

.head-booking-button:hover, .head-booking-button:focus {
  background-color: var(--brown);
}

.head-booking-button:active {
  background-color: var(--dark-brown);
  color: var(--super-transparent-white);
}

/* Booking form */

.booking-form-section {
  background-color: var(--white);
  box-shadow: 0px 7px 15px var(--form-transparent-black);
  width: 568px;
  padding: 55px;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.booking-form-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}

.booking-depart-item {
  margin-bottom: 30px;
}

.booking-date-item {
  width: 100%;
}

.booking-form-field {
  position: relative;
}

.booking-adults-field {
  margin-left: 40px;
}

.booking-children-field {
  margin-left: 27px;
}

.booking-date-input {
  width: 346px;
  padding: 9px 13px;
  box-sizing: border-box;
}

.booking-number-input {
  width: 114px;
  padding: 7px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.booking-form-section label {
  font-weight: bold;
  line-height: 26px;
  color: var(--black);
}

.booking-form-section input {
  font: inherit;
  background-color: var(--light-beige);
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
}

.booking-form-section input:hover {
  background-color: var(--beige);
}

.booking-form-section input:focus {
  background-color: var(--white);
  outline: 2px solid var(--grey-beige);
}

input[name="adults-number"], input[name="children-number"] {
  text-align: center;
}

.booking-form-section input::-webkit-input-placeholder {
  color: var(--black);
}

.booking-form-section input::-moz-placeholder {
  color: var(--black);
}

/* Booking form - buttons */

.form-button {
  border: none;
  cursor: pointer;
  position: absolute;
}

.calendar-icon {
  right: 0px;
  height: 100%;
  width: 40px;
}

.calendar-icon svg {
  fill: var(--dark-grey);
}

.calendar-icon:hover svg, .calendar-icon:focus svg {
  fill: var(--black);
}

.calendar-icon:active svg {
  fill: var(--light-blue);
}

.count-icon {
  font-weight: bold;
  font-size: 22px;
  color: var(--dark-grey);
  height: 100%;
}

.count-less-icon {
  left: 0px;
  width: 40px;
}

.count-more-icon {
  right: 0px;
  width: 35px;
}

.count-icon:hover, .count-icon:focus {
  color: var(--black);
}

.count-icon:active {
  color: var(--light-blue);
}

.search-booking-button {
  background-color: var(--light-blue);
  margin-top: 26px;
  padding: 16px;
  width: 458px;
  box-sizing: border-box;
}

.search-booking-button:hover, .search-booking-button:focus {
  background-color: var(--blue);
}

.search-booking-button:active {
  background-color: var(--dark-blue);
  color: var(--super-transparent-white);
}

/* Map */

.map {
  text-align: center;
  min-height: 594px;
}

.map img {
  width: 1200px;
  height: 594px;
}

/* Footer */

.footer {
  background-color: var(--transparent-white);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  min-height: 126px;
  margin-top: -126px;
  position: relative;
  z-index: 1;
  padding: 0 53px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.footer-hotels {
  margin-top: 0;
}

/* Footer - Contacts */

.contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 18px;
}

.contacts p {
  margin: 0;
  padding: 0;
}

.contacts .contact-text {
  margin-bottom: 9px;
}

.contacts a {
  color: var(--black);
}

.contacts a:hover, .contacts a:focus {
  color: var(--light-blue);
}

.contacts a:active {
  color: var(--black);
  opacity: 0.3;
}

/* Footer - Social networks */

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-icon {
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin: 0 3px;
  margin-bottom: 3px;
}
/* margin-bottom, чтобы при появлении второго ряда иконок соц-сетей, они не прилипали друг к другуы */

.social-icon:hover, .social-icon:focus {
  background-color: var(--blue);
}

.social-icon:active {
  background-color: var(--dark-blue);
}

.social-icon:active svg {
  opacity: 0.3;
}

/* Footer - developer section */

.developer {
  line-height: 26px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.developer-text {
  margin-right: 7px;
}

.html-logo svg {
  fill: var(--dark-asphalt);
}

.html-logo:hover svg, .html-logo:focus svg {
  fill: var(--light-blue);
}

.html-logo:active svg {
  fill: var(--dark-beige);
}

/* Hotels page */

/* Hotels filter */

.hotels-filter {
  background-color: var(--dark-blue);
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  color: var(--white);
  min-height: 217px;
}
/* При переполнении картинка будет сверху, а ниже будет идти однотонный синий фон - так симпатичнее */

.hotels-filter-form {
  display: flex;
  flex-wrap: wrap;
  padding: 27px 73px;
}
/* При переполнении новые fieldset будут переходить на след. ряд. */

.hotels-filter-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.hotels-filter-form label {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.hotels-filter-form .filter-fieldset {
  margin-right: 119px;
}

.hotels-filter-form .price-fieldset {
  margin-left: auto;
}

.hotels-filter legend {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 24px;
}

.price-fieldset legend {
  margin-bottom: 12px;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-list li {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-list li:last-of-type {
  margin-bottom: 0;
}

.filter-checkbox + label::before, .filter-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -40px;
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox:not(:checked) + label::before {
  background-image: url("../img/checkbox-off.svg");
}
/* Иначе при checked нет прозрачной обводки у галочки */

.filter-checkbox:checked + label::after {
  background-image: url("../img/checkbox-on.svg");
}

.filter-checkbox:disabled:not(:checked) + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-checkbox:checked:disabled + label::after {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.price-filter {
  border: 2px solid var(--white);
  border-radius: 2px;
  height: 36px;
  min-width: 317px;
  box-sizing: border-box;
  padding-left: 65px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.price-filter::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: var(--white);
  left: 50%;
}

.price-field {
  padding-bottom: 5px;
}

.price-input {
  font: inherit;
  color: var(--white);
  background-color: transparent;
  border: none;
  width: 50px;
  padding: 0;
}

.price-range {
  margin-top: 20px;
  position: relative;
}

.price-scale {
  height: 2px;
  width: 316px;
  background-color: var(--super-transparent-white);
}

.price-bar {
  height: 2px;
  width: 255px;
  background-color: var(--white);
}

.price-toggle {
  position: absolute;
  top: -9px;
  left: 0px;
  width: 19px;
  height: 21px;
  background-image: url(../img/filter-price.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.price-toggle:hover, .price-toggle:focus {
  width: 23px;
  height: 24px;
  background-size: 23px 24px;
}

.price-toggle-max {
  left: 253px;
}

.filter-button {
  font: inherit;
  text-transform: uppercase;
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--white);
  cursor: pointer;
  text-align: center;
  margin-top: 31px;
  margin-left: 85px;
  padding: 6px 34px;
}

.filter-button:hover, .filter-button:focus {
  color: var(--black);
  background-color: var(--white);
}

.filter-button:active {
  color: var(--light-asphalt);
  background-color: var(--white);
}

/* Sorting section */

.sorting-section {
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding: 27px 73px;
  padding-bottom: 31px;
}

.hotels-number {
  color: var(--black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-right: 46px;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
}

.sorting-heading {
  margin: 0;
  margin-right: 40px;
}

.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
/* при переполнении будет несколько рядов сортировок */

.sorting-direction-list {
  margin-left: auto;
  margin-top: 7px;
}

/* Sorting buttons */

.sorting-item:not([href]) {
  color: var(--light-blue);
  cursor: default;
  border: none;
}

.sorting-item {
  cursor: pointer;
  color: var(--sorting-transparent-black);
  margin-right: 33px;
  border-bottom: 1px dashed var(--light-blue);
}

.sorting-item[href]:hover, .sorting-item[href]:focus {
  color: var(--light-blue);
  border-bottom: 1px dashed var(--light-blue);
}

.sorting-item[href]:active {
  color: var(--black);
  border: none;
}

.sorting-direction-item:not([href]) svg {
  fill: var(--light-blue);
}

.sorting-direction-item[href] svg {
  fill: var(--grey);
}

.sorting-direction-item[href]:hover svg, .sorting-direction-item[href]:focus svg {
  fill: var(--black);
}

.sorting-direction-item[href]:active svg {
  fill: var(--light-blue);
}

.sorting-to-top {
  margin-right: 12px;
}

/* Hotels list */

.hotels-found {
  background-color: var(--white);
}

.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-item {
  padding: 30px 73px;
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-beige);
}

.hotel-item:last-of-type {
  border-bottom: 1px solid var(--grey-beige);
}

.hotel-item img {
  width: 135px;
  height: 90px;
  padding-right: 29px;
  padding-top: 7px;
}

.hotel-about-field {
  flex-grow: 1;
}

.hotel-item h3 {
  font-size: 21px;
  line-height: 26px;
  margin: 0px;
  margin-bottom: 9px;
}

.hotel-name {
  color: var(--black);
}

.hotel-name:hover, .hotel-name:focus {
  color: var(--light-blue);
}

.hotel-name:active {
  color: var(--black);
  opacity: 0.3;
}

.hotel-item p {
  margin: 0;
}

.hotel-info {
  display: flex;
  margin-bottom: 10px;
}

.hotel-type {
  min-width: 110px;
  padding-right: 7px;
}

.hotel-rating-field {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hotel-item .hotel-stars {
  background-image: url("../img/icon-star.svg");
  background-repeat: space;
  height: 17px;
  margin-bottom: 47px;
  margin-top: 7px;
  margin-right: -2px;
}

.four-stars {
  width: 91px;
}

.three-stars {
  width: 66px;
}

.two-stars {
  width: 42px;
}

.rating {
  color: var(--asphalt);
  text-align: center;
  background-color: var(--light-beige);
  padding: 3px;
  padding-left: 6px;
  width: 110px;
  box-sizing: border-box;
}

/* Hotels buttons */

.hotel-button {
  color: var(--white);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding: 3px 10px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-right: 2px;
}

.hotel-more-button {
  background-color: var(--light-blue);
  width: 110px;
}

.hotel-more-button:hover, .hotel-more-button:focus {
  background-color: var(--blue);
}

.hotel-more-button:active {
  background-color: var(--dark-blue);
  color: var(--super-transparent-white);
}

.hotel-book-button {
  background-color: var(--light-brown);
  width: 142px;
}

.hotel-book-button:hover, .hotel-book-button:focus {
  background-color: var(--brown);
}

.hotel-book-button:active {
  background-color: var(--dark-brown);
  color: var(--super-transparent-white);
}