/* Site fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans_new.woff2") format("woff2"), /* Обновила шрифты, потому что знак № в преимуществах Седоны со старыми шрифтами неверно показывался */
       url("../fonts/ptsans_new.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold_new.woff2") format("woff2"), /* Обновила шрифты, потому что знак № в преимуществах Седоны со старыми шрифтами неверно показывался */
       url("../fonts/ptsansbold_new.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* Site colors */

:root {
  --white: #FFFFFF;
  --black: #000000;
  --light-black: #333333;
  --dark-white: #EEEEEE;
  --grey: #CACACA;
  --dark-grey: #A9A9A9;
  --light-beige: #F2F2F2;
  --beige: #EBEBEB;
  --dark-beige: #BDBBBC;
  --grey-beige: #E5E5E5;
  --light-brown: #766357;
  --brown: #604E43;
  --dark-brown: #503E33;
  --light-blue: #81B3D2;
  --blue: #669EC0;
  --dark-blue: #5496BD;
  --light-asphalt: #6A6A6A;
  --asphalt: #666666;
  --dark-asphalt: #231F20;
  --transparent-white: rgba(255, 255, 255, 0.9);
  --super-transparent-white: rgba(255, 255, 255, 0.3);
  --site-transparent-black: rgba(0, 1, 1, 0.2);
  --form-transparent-black: rgba(0, 1, 1, 0.15);
  --sorting-transparent-black: rgba(0, 0, 0, 0.3);
}

/* Global styles */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-black);
  text-transform: uppercase;
  background-color: var(--light-beige);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px var(--site-transparent-black);
}
/* Перенесла box-shadow на контейнеры, т.к. при задавании для отдельной секции тень появлялась вокруг всей этой секции, а мне это не надо :) */

/* Header */

.header {
  background-color: var(--white);
}

.site-logo {
  text-align: center;
}

.site-logo img {
  width: 138px;
  height: 70px;
}

/* Navigation */

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation-list a {
  color: var(--black);
  line-height: 26px;
  font-weight: bold;
}

.navigation-list a:not([href]) {
  cursor: default;
  color: var(--light-brown);
}

.navigation-list a[href]:hover, .navigation-list a[href]:focus {
  color: var(--light-blue);
}

.navigation-list a[href]:active {
  color: var(--black);
  opacity: 0.3;
}

/* Intro to Sedona with background on main*/

.site-intro {
  background-color: var(--dark-blue);
  background-image: 
    url("../img/mask.svg"),
    url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
  height: 509px;
}

.site-intro img {
  width: 457px;
  height: 351px;
}

/* About town section */

.about-town {
  background-color: var(--white);
  text-align: center;
  padding: 40px;
}

.about-sedona {
  color: var(--black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 50px;
}

.reasons-intro {
  line-height: 26px;
  margin: 0;
}

/* Benefits of Sedona */

.reasons-list {
  text-align: center;
  list-style: none;
}

.reasons-list h3 {
  font-weight: bold;
  font-size: 21px;
}

.top-reason-description {
  color: var(--white);
  background-color: var(--light-blue);
}

.other-reason {
  background-color: var(--dark-white);
}

.other-reason h3 {
  color: var(--black);
}

.first-reason-list {
  list-style: none;
  background-color: var(--white);
}

.first-reason-list h4 {
  color: var(--black);
  font-weight: bold;
  font-size: 21px;
}

.first-reason-item {
  background-repeat: no-repeat;
  background-position: center;
}

.reason-house {
  background-image: url("../img/icon-house.svg");
}

.reason-food {
  background-image: url("../img/icon-food.svg");
}

.reason-souvenirs {
  background-image: url("../img/icon-souvenirs.svg");
}

/* Booking section */

.booking {
  text-align: center;
  background-color: var(--white);
  padding-top: 58px;
}

.booking h2 {
  color: var(--black);
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 40px;
}

.booking p {
  line-height: 24px;
  margin: 0;
}

.booking-button {
  text-align: center;
  vertical-align: middle;
  font: inherit;
  text-transform: uppercase;
  color: var(--white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
  cursor: pointer;
}

.head-booking-button {
  background-color: var(--light-brown);
  margin-top: 50px;
}

.head-booking-button:hover, .head-booking-button:focus {
  background-color: var(--brown);
}

.head-booking-button:active {
  background-color: var(--dark-brown);
  color: var(--super-transparent-white);
}

/* Booking form */

.booking-form {
  background-color: var(--white);
  box-shadow: 0px 7px 15px var(--form-transparent-black);
  width: 568px;
  margin: 0 auto;
  padding: 55px;
  box-sizing: border-box;
}

.booking-form label {
  font-weight: bold;
  line-height: 26px;
  color: var(--black);
}

.booking-form input {
  font: inherit;
  background-color: var(--light-beige);
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
}

.booking-form input:hover {
  background-color: var(--beige);
}

.booking-form input:focus {
  background-color: var(--white);
  border: 2px solid var(--grey-beige);
  outline: none;
}

input[name="adults-number"], input[name="children-number"] {
  text-align: center;
}

.booking-form input::-webkit-input-placeholder {
  color: var(--black);
}

.booking-form input::-moz-placeholder {
  color: var(--black);
}

/* Booking form - buttons */

.form-button {
  border: none;
  cursor: pointer;
}

.calendar-icon svg {
  fill: var(--dark-grey);
}

.calendar-icon:hover svg, .calendar-icon:focus svg {
  fill: var(--black);
}

.calendar-icon:active svg {
  fill: var(--light-blue);
}

.count-icon {
  font-weight: bold;
  font-size: 20px;
  color: var(--dark-grey);
}

.count-icon:hover, .count-icon:focus {
  color: var(--black);
}

.count-icon:active {
  color: var(--light-blue);
}

.search-booking-button {
  background-color: var(--light-blue);
  margin-top: 54px;
}

.search-booking-button:hover, .search-booking-button:focus {
  background-color: var(--blue);
}

.search-booking-button:active {
  background-color: var(--dark-blue);
  color: var(--super-transparent-white);
}

/* Map */

.map {
  text-align: center;
}

/* Footer */
.footer {
  background-color: var(--transparent-white);
  text-align: center;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  min-height: 120px;
  justify-items: center;
  align-items: center;
}

/* Footer - Contacts */

.contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  text-align: left;
}

.contacts p {
  margin: 0;
  padding: 0;
}

.contacts .contact-text {
  margin-bottom: 10px;
}

.contacts a {
  color: var(--black);
}

.contacts a:hover, .contacts a:focus {
  color: var(--light-blue);
}

.contacts a:active {
  color: var(--black);
  opacity: 0.3;
}

/* Footer - Social networks */

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icon {
  background-color: var(--light-blue);
}

.social-icon:hover, .social-icon:focus {
  background-color: var(--blue);
}

.social-icon:active {
  background-color: var(--dark-blue);
}

.social-icon:active svg {
  opacity: 0.3;
}

/* Footer - developer section */

.developer {
  line-height: 26px;
  margin: 0;
}

.html-logo svg {
  fill: var(--dark-asphalt);
}

.html-logo:hover svg, .html-logo:focus svg {
  fill: var(--light-blue);
}

.html-logo:active svg {
  fill: var(--dark-beige);
}


/* Hotels page */

/* Hotels filter */

.hotels-filter {
  background-color: var(--dark-blue);
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: var(--white);
}

.hotels-filter legend {
  font-weight: bold;
  font-size: 16px;
}

.filter-list {
  list-style: none;
}

.price-input {
  font: inherit;
  color: var(--white);
  background-color: transparent;
  border: none;
}

.filter-button {
  font: inherit;
  text-transform: uppercase;
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--white);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.filter-button:hover, .filter-button:focus {
  color: var(--black);
  background-color: var(--white);
}

.filter-button:active {
  color: var(--light-asphalt);
  background-color: var(--white);
}

/* Sorting section */

.sorting-section {
  background-color: var(--white);
}

.hotels-number {
  color: var(--black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  list-style: none;
}

/* Sorting buttons */

.sorting-item:not([href]) {
  color: var(--light-blue);
  cursor: default;
}

.sorting-item {
  cursor: pointer;
  color: var(--sorting-transparent-black);
}
/* Нижнюю рамку сделаю позже */

.sorting-item[href]:hover, .sorting-item[href]:focus {
  color: var(--light-blue);
}
/* Нижнюю рамку сделаю позже */

.sorting-item[href]:active {
  color: var(--black);
}

.sorting-direction-item:not([href]) svg {
  fill: var(--light-blue);
}

.sorting-direction-item[href] svg {
  fill: var(--grey);
}

.sorting-direction-item[href]:hover svg, .sorting-direction-item[href]:focus svg {
  fill: var(--black);
}

.sorting-direction-item[href]:active svg {
  fill: var(--light-blue);
}

/* Hotels list */

.hotels-found {
  background-color: var(--white);
}

.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 43px; 
  padding-right: 43px; 
}

.hotel-item {
  padding: 30px;
  display: grid;
  grid-template-areas: 
  "i h h s"
  "i t p ."
  "i m b r";
}

.hotel-item img {
  width: 135px;
  height: 90px;
  grid-area: i;
}

.hotel-item h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  grid-area: h;
  margin: 0px;
}

.hotel-name {
  color: var(--black);
}

.hotel-name:hover, .hotel-name:focus {
  color: var(--light-blue);
}

.hotel-name:active {
  color: var(--black);
  opacity: 0.3;
}

.hotel-item p {
  margin: 0;
}

.hotel-item .hotel-type {
  grid-area: t;
}

.hotel-item .hotel-price {
  grid-area: p;
}

.hotel-stars {
  background-image: url("../img/icon-star.svg");
  background-repeat: repeat-x;
  width: 100px;
  height: 17px;
  grid-area: s;
  justify-self: flex-end;
}
/* Потом через размеры настрою показ 4 звезд, 3 звезд, 2 звезд. Пока width и height сделала для того, чтобы было видно */

.rating {
  color: var(--asphalt);
  text-align: center;
  background-color: var(--light-beige);
  grid-area: r;
  justify-self: flex-end;
}

/* Hotels buttons */

.hotel-button {
  color: var(--white);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.hotel-more-button {
  background-color: var(--light-blue);
  grid-area: m;
}

.hotel-more-button:hover, .hotel-more-button:focus {
  background-color: var(--blue);
}

.hotel-more-button:active {
  background-color: var(--dark-blue);
  color: var(--super-transparent-white);
}

.hotel-book-button {
  background-color: var(--light-brown);
  grid-area: b;
}

.hotel-book-button:hover, .hotel-book-button:focus {
  background-color: var(--brown);
}

.hotel-book-button:active {
  background-color: var(--dark-brown);
  color: var(--super-transparent-white);
}